*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',serif;
 
    
    }
    
    .logo{
        height: 60px;
        width: 60px;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        box-shadow: 5px 5px 5px lightgrey;
        
    }

    @media screen and (max-width: 600px) {
        .navbar {
            width: 100%;
            justify-content: space-around;
        
        }
      }


    .middle{
        display: none;

        }
        @media screen and (max-width: 600px) {
            .middle {
              display: none;
            
            }
          }
    
        
    
    .left{
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .left select{
        padding: 10px;
       
    } 
   

    .logo-box{
        padding-right: 30px;

       
    }
    @media screen and (max-width: 600px) {
        .logo-box {
          display: none;
        }
      }

    
  
     
     /* select > option:hover
     {
         color: #1B517E;
         cursor: pointer;
     }
    */

   
    ul{
        display: flex;
        list-style: none;
        margin-right: 50px;
        padding: 10px;
    }
    
    ul li a{
        text-decoration: none;
        margin-left: 50px;
    }
    button{
        padding: 5px;
        border: none;
        background-color: rgb(255, 173, 72);
        border-radius: 5px;
        border-width: 100px;
    }
    
    .down{
        margin-left: 20px;
    }

    @media screen and (max-width: 600px) {
        .down {
          /* margin-right: 20px; */
        }
      }

    .main{
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
    }

  

    .img_box{
        width: 25%;
        margin: 10px;
    }
    
    img{
        width: 100%;
        height: 100%;
    }
    
     .banner{
        width: 100%;
        background-color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        margin-top: 30px;
      
    } 
    @media screen and (max-width: 600px) {
        .banner {
          display: grid;
        }
      }
   
    
    .banner_box{
        border: 4px solid orangered;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

        
    }
    @media screen and (max-width: 600px) {
        .banner_box {
          width: 100vw;
        }
      }
  

   footer{
    background-color: lightpink;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }
   @media screen and (max-width: 600px) {
    .footer {
      position:fixed;
      bottom:0;
      right:0;
      border:2px solid red;
      display: none;
    }
  }

   .footer{
    /* border: 2px solid red; */
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   }

   @media screen and (max-width: 600px) {
    .footer {
      position:fixed;
      bottom:0;
      right:0;
      border:2px solid red;
    }
  }


   .footer_icon_div .fa{
    font-size: 35px;
    cursor: pointer;
    margin-bottom: 15px;
   }

   .footer_icon_div .fa:hover{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(251, 201, 210);

   }
